@font-face {
   font-family: mainFont;
   src: url(cabin-medium.otf);
}

/*  Need to tighten this up
    The colors are hard to look at and the overall presentation
    could be cleaned up a bit.
*/
body {
   background-color: #bdc3c7;
   overflow: auto;
   font-family: mainFont, arial, sans-serif;
   margin: 0;
   padding: 0;
}
h1 {
   color: #2c3e50;
   text-align: center;
   margin: 0;
   padding: 0;
   display: block;
   height: 60px;
   line-height: 60px;
   background-color: #ecf0f1;
}
ul {
   width: 830px;
   list-style-type: none;
   margin: 20px auto;
   padding: 0;
}
#doors {
   width: 900px;
   height: 390px;
   margin: 30px auto;
   background-color: #7f8c8d;
   overflow: auto;
   border-radius: 5px;
}
span {
   display: block;
   width: 115px;
   color: #2c3e50;
   font-size: 1.4em;
   margin: 5px auto;
}
.closed {
   overflow: hidden;
}
#startButton {
   width: 100px;
   height: 30px;
   display: block;
   margin: 20px auto;
}
.opened {
   overflow: hidden;
}
.door {
   width: 0px;
   height: 51px;
   margin: 0;
   padding: 0;
   display: block;
   line-height: 50px;
   background-color: #3498db;
   color: #ecf0f1;
   overflow: hidden;
}
li {
   width: 27px;
   height: 51px;
   margin: 5px;
   padding: 0;
   text-align: center;
   display: inline-block;
   background-color: #f1c40f;
   border-top: 2px solid #34495e;
   border-right: 2px solid #34495e;
   border-left: 2px solid #34495e;
   border-bottom: 1px solid #34495e;
}