body {
   background-color: #7f8c8d;
   overflow: auto;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#doors {
   width: 780px;
   height: 350px;
   margin: 20px auto;
}
span {
   display: block;
   width: 150px;
   color: white;
   font-size: 1.4em;
   margin: 5px auto;
}
.closed {
   overflow: hidden;
}
#open {
   width: 100px;
   height: 30px;
   display: block;
   margin: 20px auto;
}
.opened {
   overflow: hidden;
}
.door {
   width: 0px;
   height: 51px;
   margin: 0;
   padding: 0;
   display: block;
   line-height: 50px;
   font-family: arial;
   background-color: #3498db;
   color: #ecf0f1;
   overflow: hidden;
}
li {
   width: 27px;
   height: 51px;
   margin: 5px;
   padding: 0;
   text-align: center;
   display: inline-block;
   background-color: #f1c40f;
   border-top: 2px solid #ecf0f1;
   border-right: 2px solid #ecf0f1;
   border-left: 2px solid #ecf0f1;
}